<%- include("partials/header") -%>
<h1>Compose</h1>
<form method="post">
  <div class="form-group">
    <div class="mb-3">
    <label class= "form-label">Title</label>
    <input type="text" name="titleContent" class="form-control">
    </div>
  <div class="mb-3">
    <label class="form-label">Post</label>
    <textarea name="postContent" rows="8" cols="80" class="form-control"></textarea>
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include("partials/footer") -%>
